{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <div class="row">
        {% for event in events %}
        <div class="col">

<!-- Card with an image on left -->
<div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        {% if event.image %}
              <div class="col-md-12">
                <img src="{{ event.image.url }}" class="card-img-top custom-img" alt="{{ event.image }}" style="max-width: 100%; height: auto;">
              </div>
              {% else %}
              <p>No image found for this item</p>
              {% endif %}
      </div>
      <!-- <div class="col-md-4">
        {% if event.qr_code %}
              <div class="col-md-12">
                <img src="{{ event.qr_code.url }}" class="card-img-top custom-img" alt="{{ event.qr_code }}" style="max-width: 100%; height: auto;">
              </div>
              {% else %}
              <p>No image found for this item</p>
              {% endif %}
      </div> -->
      <div class="col-md-8">
        <div class="card-body">
          <img src="{{ event.qr_code.url }}" class="card-img-top custom-img" alt="{{ event.qr_code }}" style="width: 20rem; height: 23rem;"><br>
            Special Events
          <h5 class="card-title"><strong>{{ event.name }} </strong> </h5>
          <p class="card-text"><strong>start date</strong> {{ event.start_date }}</p>
          <p class="card-text"><strong>End date</strong> {{ event.end_date }}</p>
          <p class="card-text"><strong>Location</strong> {{ event.location.name }}</p>
          <p class="card-text"><strong>Details</strong> {{ event.event_detail }}</p>
          <p class="card-text">{{ event.description }}</p> 
          {% comment %} <input type="Make Payment" value="Make Payment" class="btn btn-secondary"><a href="{% url 'form' %}" class="btn btn-secondary">Cancel</a></input> {% endcomment %}
          <a href="#" class="btn btn-secondary">Initiate Payment</a>
          <a href="{% url 'my_index' %}" class="btn btn-secondary">Cancel</a>
        </div>
      </div>
    </div>
  </div><!-- End Card with an image on left -->

        </div>
      {% endfor %}
    </div>
</div>




           {% comment %} <div class="container">
    <div class="row">
      {% for items in she %}
      <div class="col-md-4 mb-4">

            
            <div class="card" style="width: 18rem;">
            <div class="card-header">
            <h5 class="card-title"> {{ items.name }} </h5>
            {% if items.location %}
              <a href="{{ items.location }}" class="card-link" target="_blank">Visit Website</a>
               <p class="card-text"><strong>date</strong> {{ items.start_date }}</p> 
              {% endif %}
            </div>
            <div class="card-body">
              {% if items.image %}
              <div class="col-md-4">
                <img src="{{ items.image.url }}" class="card-img-top" alt="{{ items.image }}">
              </div>
              {% else %}
              <p>No image found for this item</p>
              {% endif %}
            </div>
            <div class="card-footer">
             <p class="card-text"><strong>date</strong> {{ items.date }}</p>
             <p class="card-text"><strong>location</strong> {{ items.location }}</p>
             <p class="card-text"><strong>description</strong>{{ items.description }}</p> 
             <p class="card-text"><strong>phone number</strong> {{ items.phone_number }}</p>
             <p class="card-text"><strong>website</strong> {{ items.website }}</p>
             <p class="card-text"><strong>description</strong> {{ items.description }}</p>
            </div>
          </div><!-- End Card with header and footer -->

        </div>
        {% endfor %}
    </div>
</div>  {% endcomment %}
 



{% endblock content %}